
.input-control-xs{
    border-color: #cfdadd;
    border-radius: 2px;
    background-color: #fff;
    background-image: none;
    color: #555;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 5px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    box-shadow: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border: 1px solid #ccc;
    margin:0 10px;
}
.bg-remind{
    background-color: #ffffe0;
    color: #000;
}
.bg-jzj{
    background-color: #e67814;
    color: #fff;
}
.l-h-lg{
    line-height: 75px;
}
.breadcrumb-custom{
    margin-bottom: 0;
    border-radius: 0;
    padding: 10px 20px;
}
.breadcrumb-font{
    color: #f05050 !important;
    /*font-weight: bold;*/
}
.ul-t{
    list-style: outside none none;
    margin: 0;
    padding-left: 0;
}
.ul-t li{
    float: left;
    padding: 0 20px 0 0;
}
.b-default {
  border-color: #f6f8f8;
}
.m-panel{
    background-color: #fff;
    border: 1px solid #f6f8f8;
    border-radius: 2px;
}
.m-panel-heading{    
    height: 40px;
    background: #f6f8f8;
}
.m-panel .m-panel-title{
    float: left;
    padding: 10px;
}
.m-panel-heading a:hover{
    color: #fff;
    background: #f05050;
}
.m-panel .title-danger{
    color: #fff;
    background: #f05050;
}
.m-panel .title-default{
    color: #000;
    background: none;
}
.m-panel-body{
    padding: 10px;
}
.filter-control{
    width: 100px;
}
.status-filter a:hover
{
    color:#428bca;
}
.status-filter a.filter-active:hover 
{
    color:#fff;   
}