
<div class="bg-light lter b-b wrapper-md">
  <span class="m-n font-bold h4 text-danger">
	<i class="fa fa-home"></i>
  	首页</span>
  <span class="m-n font-thin h4">></span>
  <span class="m-n font-bold h4 text-danger">账号信息</span>
  <span class="m-n font-thin h4">></span>
  <span class="m-n font-bold h4 text-danger">基本信息</span>
</div>
<div class="wrapper-md" ng-controller="AccountCtrl">
	<script type="text/ng-template" id="myModalContent.html">
            <div ng-include="'tpl/app.html'"></div>
          </script>
	<div class="panel">
	    <div class="panel-heading font-bold">
	      基本信息
	    </div>
	    <div class="table-responsive">
	      <table class="table table-striped b-t b-light">
	        <tbody>
	          <tr>
	            <td class="col-md-3">用户头像</td>
	            <td class="col-md-3"><span class="label bg-danger">已设置</span></td>
	            <td>
	              <a href class="active m-r-sm text-info"><span >修改</span></a>
	              <a class="m-r-sm text-info" ng-click="openLoginPwd()"><span>设置</span></a>
	            </td>
	          </tr>
	          <tr>
	            <td class="col-md-3">登录密码</td>
	            <td class="col-md-3"><span class="label bg-danger">已设置</span></td>
	            <td>
	              <a href class="m-r-sm text-info"><span>修改</span></a>
	              <a href class="m-r-sm text-info"><span>设置</span></a>
	            </td>
	          </tr>
	          <tr>
	            <td class="col-md-3">支付密码</td>
	            <td class="col-md-3"><span class="label bg-danger">已设置</span></td>
	            <td>
	              <a href class="m-r-sm text-info"><span>修改</span></a>
	              <a href class="m-r-sm text-info"><span>找回</span></a>
	              <a href class="m-r-sm text-info"><span>设置</span></a>
	            </td>
	          </tr>
	        </tbody>
	      </table>
    	</div>
  	</div>

  	<div class="panel">
	    <div class="panel-heading font-bold">
	      联系方式
	    </div>
	    <div class="table-responsive">	    	
	      <table class="table table-striped b-t b-light">
	        <tbody>
	          <tr>
	            <td class="col-md-3">QQ</td>
	            <td class="col-md-3"><span class="text-danger">5555XXXX0000</span></td>
	            <td>
	              <a href class="active m-r-sm text-info"><span >修改</span></a>
	              <a href class="m-r-sm text-info"><span>设置</span></a>
	            </td>
	          </tr>
	          <tr>
	            <td class="col-md-3">邮箱</td>
	            <td class="col-md-3"><span class="text-danger">555XXX000@QQ.COM</span></td>
	            <td>
	              <a href class="m-r-sm text-info"><span>修改</span></a>
	              <a href class="m-r-sm text-info"><span>设置</span></a>
	            </td>
	          </tr>
	          <tr>
	            <td class="col-md-3">手机</td>
	            <td class="col-md-3"><span class="text-danger">189XXXX1236</span></td>
	            <td>
	              <a href class="m-r-sm text-info"><span>修改</span></a>
	              <a href class="m-r-sm text-info"><span>设置</span></a>
	            </td>
	          </tr>
	        </tbody>
	      </table>
    	</div>
  	</div>



</div>


  	<!-- modal -->
      <div ng-controller="ModalDemoCtrl" class="panel b-a">
          <script type="text/ng-template" id="myModalContent.html">
            <div ng-include="'tpl/app.html'"></div>
          </script>
          <div class="panel-heading b-b b-light">Modal</div>
          <div class="panel-body">
            <button class="btn btn-success" ng-click="open()">Open me!</button>
            <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
            <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
          </div>
      </div>
      <!-- /modal -->