
.account-bank-username{
	margin-left:66px;width: 65%;
}
.account-bank-name{
	margin-left:38px;width: 239%;
}
.account-bank-city{
	margin-left:38px;width: 200%;
}
.account-branch-bank-name{
	margin-left:10px;width: 200%;
}
.account-bank-number{
	margin-left:38px;width: 165%;
}