
<div>
  <ul class="breadcrumb bg-white b-b breadcrumb-custom">
    <li><a href class="breadcrumb-font"><i class="fa fa-home"></i> 首页</a></li>
    <li><a href class="breadcrumb-font">账号信息</a></li>
    <li class="active breadcrumb-font">基本信息</li>
  </ul>
</div>
<div class="wrapper-md" ng-controller="UserCtrl">
	<!--基本信息-->
	<div class="panel">
	    <div class="panel-heading font-bold">
	      基本信息
	    </div>
	    <div class="table-responsive">
	      <table class="table table-striped b-t b-light">
	        <tbody>
	          <tr>
	            <td class="col-md-3">用户头像</td>
	            <td class="col-md-3">
					<span ng-if="user.image == ''" class="label bg-danger">未设置</span>
	              	<span ng-if="user.image != ''" class="label bg-success">已设置</span>
	            </td>
	            <td>
	              <a class="m-r-sm text-info" ng-click="openSetHeadImage()">
					<span ng-if="user.image == ''" class="text-info">设置</span>
	              	<span ng-if="user.image != ''" class="text-info">修改</span>
	              </a>
	            </td>
	          </tr>
	          <tr>
	            <td class="col-md-3">登录密码</td>
	            <td class="col-md-3">
	            	<span ng-if="user.password == ''" class="label bg-danger">未设置</span>
	              	<span ng-if="user.password != ''" class="label bg-success">已设置</span>
	            </td>
	            <td>
	              <a class="m-r-sm text-info" ng-click="openSetLoginPwd()">
					<span ng-if="user.password == ''" class="text-info">设置</span>
	              	<span ng-if="user.password != ''" class="text-info">修改</span>
	              </a>
	            </td>
	          </tr>
	           <tr>
	            <td class="col-md-3">支付密码</td>
	            <td class="col-md-3">
					<span ng-if="user.payPassword == ''" class="label bg-danger">未设置</span>
	              	<span ng-if="user.payPassword != ''" class="label bg-success">已设置</span>
	            </td>
	            <td>	              
	              <a class="m-r-sm text-info" ng-click="openSetPayPwd()">
					<span ng-if="user.payPassword == ''" class="text-info">设置</span>
	              	<span ng-if="user.payPassword != ''" class="text-info">修改</span>
	              </a>
	            </td>
	          </tr>
	        </tbody>
	      </table>
    	</div>
  	</div>
	<!--联系方式-->
  	<div class="panel">
	    <div class="panel-heading font-bold">
	      联系方式
	    </div>
	    <div class="table-responsive">	    	
	      <table class="table table-striped b-t b-light">
	        <tbody>
	          <tr>
	            <td class="col-md-3">QQ</td>
	            <td class="col-md-3">
	            	<span ng-if="user.qq == ''" class="label bg-danger">未设置</span>
	              	<span ng-if="user.qq != ''" class="text-info">{{user.qq}}</span>
	            </td>
	            <td>
	              <a class="m-r-sm text-info" ng-click="openSetQQ()">
	              	<span ng-if="user.qq == ''">设置</span>
	              	<span ng-if="user.qq != ''">修改</span>
	              </a>
	            </td>
	          </tr>
	          <tr>
	            <td class="col-md-3">邮箱</td>
	            <td class="col-md-3">
	            	<span ng-if="user.email == ''" class="label bg-danger">未设置</span>
	              	<span ng-if="user.email != ''" class="text-info">{{user.email}}</span>
	            </td>
	            <td>
	              <a class="m-r-sm text-info" ng-click="openSetEmail()">
					<span ng-if="user.email == ''">设置</span>
	              	<span ng-if="user.email != ''">修改</span>
	              </a>
	            </td>
	          </tr>
	          <tr>
	            <td class="col-md-3">手机</td>
	            <td class="col-md-3">
					<span ng-if="user.mobile == ''" class="label bg-danger">未设置</span>
	              	<span ng-if="user.mobile != ''" class="text-info">{{user.mobile}}</span>
	            </td>
	            <td>
	              <a class="m-r-sm text-info" ng-click="openSetPhone()">
					<span ng-if="user.mobile == ''" >设置</span>
	              	<span ng-if="user.mobile != ''" >修改</span>
	              </a>
	            </td>
	          </tr>
	        </tbody>
	      </table>
    	</div>
  	</div>

</div>
