
<div class="bg-light lter b-b wrapper-md">
  <span class="m-n font-bold h4 text-danger">
	<i class="fa fa-home"></i>
  	首页</span>
  <span class="m-n font-thin h4">></span>
  <span class="m-n font-bold h4 text-danger">账号信息</span>
  <span class="m-n font-thin h4">></span>
  <span class="m-n font-bold h4 text-danger">基本信息</span>
</div>
<div class="wrapper-md" ng-controller="UserCtrl">
	<!--基本信息-->
	<div class="panel">
	    <div class="panel-heading font-bold">
	      基本信息
	    </div>
	    <div class="table-responsive">
	      <table class="table table-striped b-t b-light">
	        <tbody>
	          <tr>
	            <td class="col-md-3">用户头像</td>
	            <td class="col-md-3">
					<span ng-if="user.Image == ''" class="label bg-danger">未设置</span>
	              	<span ng-if="user.Image != ''" class="label bg-success">已设置</span>
	            </td>
	            <td>
	              <a class="m-r-sm text-info" ng-click="openSetHeadImage()">
					<span ng-if="user.Image == ''" class="text-info">设置</span>
	              	<span ng-if="user.Image != ''" class="text-info">修改</span>
	              </a>
	            </td>
	          </tr>
	          <tr>
	            <td class="col-md-3">登录密码</td>
	            <td class="col-md-3">
	            	<span ng-if="user.Password == ''" class="label bg-danger">未设置</span>
	              	<span ng-if="user.Password != ''" class="label bg-success">已设置</span>
	            </td>
	            <td>
	              <a class="m-r-sm text-info" ng-click="openSetLoginPwd()">
					<span ng-if="user.Password == ''" class="text-info">设置</span>
	              	<span ng-if="user.Password != ''" class="text-info">修改</span>
	              </a>
	            </td>
	          </tr>
	           <tr>
	            <td class="col-md-3">支付密码</td>
	            <td class="col-md-3">
					<span ng-if="user.PayPassword == ''" class="label bg-danger">未设置</span>
	              	<span ng-if="user.PayPassword != ''" class="label bg-success">已设置</span>
	            </td>
	            <td>	              
	              <a class="m-r-sm text-info" ng-click="openSetPayPwd()">
					<span ng-if="user.PayPassword == ''" class="text-info">设置</span>
	              	<span ng-if="user.PayPassword != ''" class="text-info">修改</span>
	              </a>
	              <a href class="m-r-sm text-info"><span>找回</span></a>
	            </td>
	          </tr>
	        </tbody>
	      </table>
    	</div>
  	</div>
	<!--联系方式-->
  	<div class="panel">
	    <div class="panel-heading font-bold">
	      联系方式
	    </div>
	    <div class="table-responsive">	    	
	      <table class="table table-striped b-t b-light">
	        <tbody>
	          <tr>
	            <td class="col-md-3">QQ</td>
	            <td class="col-md-3">
	            	<span ng-if="user.Qq == ''" class="label bg-danger">未设置</span>
	              	<span ng-if="user.Qq != ''" class="text-info">{{user.Qq}}</span>
	            </td>
	            <td>
	              <a class="m-r-sm text-info" ng-click="openSetQQ()">
	              	<span ng-if="user.Qq == ''">设置</span>
	              	<span ng-if="user.Qq != ''">修改</span>
	              </a>
	            </td>
	          </tr>
	          <tr>
	            <td class="col-md-3">邮箱</td>
	            <td class="col-md-3">
	            	<span ng-if="user.Email == ''" class="label bg-danger">未设置</span>
	              	<span ng-if="user.Email != ''" class="text-info">{{user.Email}}</span>
	            </td>
	            <td>
	              <a class="m-r-sm text-info" ng-click="openSetEmail()">
					<span ng-if="user.Email == ''">设置</span>
	              	<span ng-if="user.Email != ''">修改</span>
	              </a>
	            </td>
	          </tr>
	          <tr>
	            <td class="col-md-3">手机</td>
	            <td class="col-md-3">
					<span ng-if="user.Mobile == ''" class="label bg-danger">未设置</span>
	              	<span ng-if="user.Mobile != ''" class="text-info">{{user.Mobile}}</span>
	            </td>
	            <td>
	              <a class="m-r-sm text-info" ng-click="openSetPhone()">
					<span ng-if="user.Mobile == ''" >设置</span>
	              	<span ng-if="user.Mobile != ''" >修改</span>
	              </a>
	            </td>
	          </tr>
	        </tbody>
	      </table>
    	</div>
  	</div>

</div>
