<div class="wrapper-md bg-white">

  <div class="row padder-md">
    <ul class="ul-t">
      <li><a> 人气符账号：</a><a class="text-danger">XX</a></li>
      <li><a> 会员等级：</a><a class="text-danger">XX</a></li>
      <li><a> 到期时间：</a><a class="text-danger">2015-1-1</a></li>
      <li><a href class="text-info">续费</a></li>    
    </ul>
    <ul class="ul-t pull-right">  
      <li><a>安全等级：</a></li>
      <li><a class="m-t-n-xs fa fa-2x fa-laptop text-default"></a></li>
      <li><a class="m-t-n-xs fa fa-2x fa-mobile-phone text-default"></a></li>
      <li><a class="m-t-n-xs fa fa-2x fa-envelope-o text-default"></a></li>
      <li><a class="m-t-n-xs fa fa-2x fa-dollar text-info"></a></li>
    </ul>
  </div>
  <div class="line m-t m-b b-b"></div>
  <div class="row padder-md">
    <div class="col-md-8">
      <div class="row m-b">
        <ul class="ul-t">
          <li><a> 可用押金：</a><a class="text-danger">XX元</a></li>
          <li><a> 商家返款冻结押金</a><a class="text-danger">XX元</a></li>
          <li><a> 平台返款冻结押金：</a><a class="text-danger">XX元</a></li>
          <li><a href class="text-info">充值押金</a></li>    
        </ul>    
      </div>
      <div class="row m-b">
        <ul class="ul-t">
          <li><a> 可用人气符：</a><a class="text-danger">XX点</a></li>  
          <li><a href class="text-info">充值人气符</a></li>    
        </ul>    
      </div>
      <div class="row m-b">
        <ul class="ul-t">
          <li><a> 可用流量：</a><a class="text-danger">0访客</a></li>    
          <li><a href class="text-info">购买流量包</a></li>     
        </ul>    
      </div>
    </div>
    <div class="col-md-4">
      <div class="row m-b"></div> 
      <div class="row m-b"></div>    
      <div class="row m-b"><button class="btn btn-danger padder-lg">发布任务</button></div>      
    </div>    
  </div>
  <div class="line line-dashed b-b"></div>
  <div class="row padder-md">
    <ul class="ul-t">
      <li><a> 资金记录：</a></li>
      <li><a class="text-info"><span class="fa fa-cny"></span> 最近押金记录 <span class="fa fa-angle-down"></span></a></li>
      <li><a class="text-info"><span class="fa fa-history"></span> 最近符点记录 <span class="fa fa-angle-down"></span></a></li>
      <li><a class="text-info"><span class="fa fa-users"></span> 最近流量记录 <span class="fa fa-angle-down"></span></a></li>    
    </ul> 
  </div>
  <!--网站公布-->
  <div class="m-panel m-t">
    <div class="m-panel-heading">
      <a class="m-panel-title bg-danger title-danger">网站公告</a>
      <a class="m-panel-title bg-default title-default">常见问题</a>
    </div>    
    <div class="m-panel-body">
      <ul class="padder-lg">
          <li class="text-danger"><a>关于发布任务单数大于20单，分时发布必选公告</a><span class="m-l-lg text-muted">2015-1-1</span></li>    
          <li class="text-danger"><a>关于发布任务单数大于20单，分时发布必选公告</a><span  class="m-l-lg text-muted">2015-1-1</span></li>   
          <li class="text-danger"><a>关于发布任务单数大于20单，分时发布必选公告</a><span  class="m-l-lg text-muted">2015-1-1</span></li>   
          <li class="text-danger"><a>关于发布任务单数大于20单，分时发布必选公告</a><span  class="m-l-lg text-muted">2015-1-1</span></li>   
        </ul>
    </div>    
  </div>
  <!--待处理的任务-->
  <div class="panel panel-default m-t b-default">
    <div class="panel-heading">      
      <span class="text-danger font-bold"><i class="fa fa-tasks"></i> 待处理的任务</span>
    </div> 
    <div class="panel-body">
      <div class="task-list">
        <div class="panel-item">
          <div class="panel-heading">
            <span class="h5 font-bold">买手已付款，待发货</span>
            <span class="text-muted">请及时复制运单号到对应平台操作订单发货</span>
          </div>
          <div class="panel-body">
            暂无
          </div>
        </div>
        <div class="line line-dashed b-b"></div>
        <div class="panel-item">
          <div class="panel-heading">
            <span class="h5 font-bold">买手已收货，待退款</span>
            <span class="text-muted">请在48小时内给买手退款，否则平台将扣除任务押金中的退款保证金</span>
          </div>
          <div class="panel-body">
            <div class="text-muted">
              <span>待商家返款：</span>
            </div>
            <div class="m-t text-muted">
              <span>待平台返款：</span>
            </div>
          </div>
        </div>
        <div class="line line-dashed b-b"></div>
        <div class="panel-item">
          <div class="panel-heading">
            <span class="h5 font-bold">买手已好评，待评选</span>
            <span class="text-muted">请对买手提交的评价内容进行优质好评的评选</span>
          </div>
          <div class="panel-body">
            暂无
          </div>
        </div>
      </div>
    </div>      
  </div>
  
  <!--任务进展-->  
  <div class="panel panel-default m-t b-default">
    <div class="panel-heading">
      <span class="text-danger font-bold"><i class="fa fa-tasks"></i> 任务进展</span>
    </div> 
    <div class="panel-body">
      
      <div class="row padder-md l-h-3x">
        <ul class="ul-t">
          <li><a class="wrapper-xs text-white bg-danger">所有任务<span>(1)</span></a></li>  
          <li><a class="text-danger">进行中的任务<span>(1)</span></a></li>  
          <li><a class="text-danger">已完成的任务<span>(0)</span></a></li>    
        </ul>    
      </div>
      <div class="line text-danger b-b"></div>
      <div class="row padder-md">
        <!--过滤条件-->
        <div class="row m-t-xs">
          <div class="col-md-2">
            <label class="font-bold">平台：</label>      
            <div class="btn-group">
              <select class="form-control filter-control"><option>全部</option></select>
            </div>
          </div> 
          <div class="col-md-2">
            <label class="font-bold">店铺：</label>      
            <div class="btn-group">
              <select class="form-control filter-control"><option>全部</option></select>
            </div>
          </div> 
          <div class="col-md-3">
            <label class="font-bold">任务类型：</label>
            <div class="btn-group">
              <select class="form-control filter-control"><option>全部</option></select>
            </div>
          </div>
          <div class="col-md-2">
            <label class="font-bold">终端：</label>      
            <div class="btn-group">
              <select class="form-control filter-control"><option>全部</option></select>
            </div>
          </div>
        </div>
        <div class="row m-t-xs">
          <div class="col-md-3">
            <label class="font-bold">任务状态：</label>      
            <div class="btn-group">
              <select class="form-control filter-control"><option>全部</option></select>
            </div>
          </div>
          <div class="col-md-6">
            <label class="font-bold">高级搜索：</label>      
            <div class="btn-group">
              <select class="form-control filter-control"><option>全部</option></select>
            </div>
            <div class="btn-group">
              <input type="text" class="form-control" />
            </div>
          </div> 
        </div>
        <div class="row m-t-xs">
          <div class="col-md-4">
            <label class="font-bold">发布任务起止日期：</label>
            <div class="btn-group">
              <p class="input-group" >
                <input type="text" class="form-control" style="width:100px;" datepicker-popup="yyyy-MM-dd" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
            <div class="btn-group">
              <p class="input-group">
                <input type="text" class="form-control" style="width:100px;" datepicker-popup="yyyy-MM-dd" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn btn-danger">查询</button>
          </div>
        </div>
        <!--任务列表-->
        <div class="row wrapper">
          <div class="task-list">
            <div class="panel panel-danger">
              <div class="panel-heading">                    
                <span><span class="label bg-danger">T</span> 聚赚界旗舰店 <span class="m-l">任务编号：</span><span>88888888</span> [<a href class="text-info">详情</a>]</span>
                <span class="pull-right">
                  <span>任务单数：</span><span>8单</span>
                  <span class="m-l">任务押金：</span><span>888元</span>
                  <span class="m-l">人气符：</span><span>8点</span>
                </span>
              </div>
              <div class="panel-body">
                <article class="media" >
                  <span class="pull-left m-r"><i class="fa fa-file-o fa-5x"></i></span>
                  <div class="pull-right l-h-lg">
                    <a href class="btn btn-info">重新发布</a>
                  </div>
                  <div class="media-body l-h-lg">   
                    <a href class="h4">2015冬季保暖外套</a>
                  </div>
                </article>
              </div>
            </div>

            <div class="panel panel-danger">
              <div class="panel-heading">                    
                <span><span class="label bg-danger">T</span> 聚赚界旗舰店 <span class="m-l">任务编号：</span><span>88888888</span> [<a href class="text-info">详情</a>]</span>
                <span class="pull-right">
                  <span>任务单数：</span><span>8单</span>
                  <span class="m-l">任务押金：</span><span>888元</span>
                  <span class="m-l">人气符：</span><span>8点</span>
                </span>
              </div>
              <div class="panel-body">
                <article class="media" >
                  <span class="pull-left m-r"><i class="fa fa-file-o fa-5x"></i></span>
                  <div class="pull-right l-h-lg">
                    <a href class="btn btn-info">重新发布</a>
                  </div>
                  <div class="media-body l-h-lg">   
                    <a href class="h4">2015冬季保暖外套</a>
                  </div>
                </article>
              </div>
            </div>

            <div class="panel panel-danger">
              <div class="panel-heading">                    
                <span><span class="label bg-danger">T</span> 聚赚界旗舰店 <span class="m-l">任务编号：</span><span>88888888</span> [<a href class="text-info">详情</a>]</span>
                <span class="pull-right">
                  <span>任务单数：</span><span>8单</span>
                  <span class="m-l">任务押金：</span><span>888元</span>
                  <span class="m-l">人气符：</span><span>8点</span>
                </span>
              </div>
              <div class="panel-body">
                <article class="media" >
                  <span class="pull-left m-r"><i class="fa fa-file-o fa-5x"></i></span>
                  <div class="pull-right l-h-lg">
                    <a href class="btn btn-info">重新发布</a>
                  </div>
                  <div class="media-body l-h-lg">   
                    <a href class="h4">2015冬季保暖外套</a>
                  </div>
                </article>
              </div>
            </div>
          </div>
          <div class="pagination pull-right">
            <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="m-t-none m-b"></pagination>
          </div>
        </div>
      </div>
    </div>      
  </div>
  
  
  </div>