
<div>
  <ul class="breadcrumb bg-white b-b breadcrumb-custom">
    <li><a href class="breadcrumb-font"><i class="fa fa-home"></i> 首页</a></li>
    <li><a href class="breadcrumb-font">资金记录</a></li>
    <li class="active breadcrumb-font">提现记录</li>
  </ul>
</div> 
<div class="wrapper-md bg-white" ng-controller="CashoutHistoryCtrl">
	<div class="row wrapper">
		<h4 class="pull-left m-t-none m-b text-danger">提现记录</h4>		
		<a ui-sref="app.financial.cashout" class="pull-right btn m-b-xs btn-sm btn-warning btn-addon m-l"><i class="fa fa-paper-plane-o"></i>申请提现</a>
	</div>
	<div class="table-responsive">
	    <table class="table table-striped bg-white">
	      <thead>
	        <tr class="bg-jzj">
	          <th class="col-md-2 b-r">单号</th>
	          <th class="col-md-2 b-r">时间</th>
	          <th class="col-md-2 b-r">数额</th>
	          <th class="col-md-2 b-r">手续费</th>
	          <th class="col-md-2 b-r">状态</th>
	          <th class="col-md-2">备注</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="c in cashoutList">
	          <td class="col-md-2 b-r">{{c.cashoutId}}</td>
	          <td class="col-md-2 b-r">{{c.createdAt | date : 'yyyy.MM.dd HH:mm:ss' : 'Z'}}</td>
	          <td class="col-md-2 b-r">{{c.points}}</td>
	          <td class="col-md-2 b-r">{{c.fee}}</td>
	          <td class="col-md-2 b-r">{{c.status}}</td>
	          <td class="col-md-2">{{c.comment}}</td>
	        </tr>         
	      </tbody>
	    </table>
	</div>
	<div class="pagination pull-left" ng-controller="PaginationCtrl">
       <pagination ng-if="totalItems>0" boundary-links="true" items-per-page="pageSize" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged(currentPage)"></pagination>
    </div>
    <br/><br/>
</div>
