
<div ng-controller="PeddingTaskCtrl">
<div>
  <ul class="breadcrumb bg-white b-b breadcrumb-custom">
    <li><a href class="breadcrumb-font"><i class="fa fa-home"></i> 首页</a></li>
    <li><a href class="breadcrumb-font">待处理任务</a></li>
    <li class="active breadcrumb-font">{{platformName}}任务</li>
  </ul>
</div>
<div class="wrapper-md bg-white">
    <!--待处理的任务-->
    <div class="panel panel-default b-default">
      <div class="panel-heading">      
        <span class="text-danger font-bold"><span class="label bg-danger">T</span> {{platformName}}待处理的任务</span>
      </div> 
      <div class="panel-body">
        <div class="row padder-md l-h-3x">
          <ul class="ul-t status-filter">
            <li><a class="text-danger" ng-class="{'filter-active wrapper-xs text-white bg-danger':statusId==3}" ng-click="filterByStatus(3)">买手已付款，待发货<span>(1)</span></a></li>  
            <li><a class="text-danger" ng-class="{'filter-active wrapper-xs text-white bg-danger':statusId==6}" ng-click="filterByStatus(6)">买手已收货，待退款<span>(1)</span></a></li>  
            <li><a class="text-danger" ng-class="{'filter-active wrapper-xs text-white bg-danger':statusId==7}" ng-click="filterByStatus(7)">买手已好评，待评选<span>(0)</span></a></li>    
          </ul>    
        </div>
        <div class="line text-danger b-b"></div>
        <div class="task-list">

          <div ng-show="statusId==3" class="text-muted m-t m-b">注：请及时复制运单号到对应平台操作订单发货</div>
          <div ng-show="statusId==6" class="text-muted m-t m-b">注：请在48小时内给买手退款，否则平台将扣除任务押金中的退款保证金</div>
          <div ng-show="statusId==7" class="text-muted m-t m-b">注：请对买手提交的评价内容进行优质好评的评选</div>
          <!--list item-->
          <div class="panel panel-danger" ng-repeat="t in taskList">
            <div class="panel-heading">                    
              <span><span class="label bg-danger">T</span> {{getShopName(t.taskDetail)}}<span class="m-l">任务编号：</span><span>{{t.taskId}}</span> [<a ui-sref="app.task({id:{{t.taskId}}})" class="text-info">详情</a>]</span>
              <span class="pull-right">
                <span>任务单数：</span><span>{{t.totalTasks}}单</span>
                <span class="m-l">任务押金：</span><span>{{getTaskTotalCach(t.taskDetail)}}元</span>
                <span class="m-l">赚点：</span><span>{{getTaskTotalPoint(t.taskDetail)}}点</span>
              </span>
            </div>
            <div class="panel-body">
              <article class="media" >
                <span class="pull-left m-r"><i class="fa fa-file-o fa-5x"></i></span>
                <div class="pull-right l-h-lg">
                  <a href class="btn btn-info">查看详情</a>
                </div>
                <div class="media-body l-h-lg">   
                  <a href class="h4">{{t.productId.productName}}</a>
                </div>
              </article>
            </div>            
          </div>
          <!--list item-->
        </div>

        <div class="pagination pull-left" ng-controller="PaginationCtrl">
          <pagination ng-if="totalItems>0" boundary-links="true" items-per-page="pageSize" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged(currentPage)"></pagination>
        </div>

      </div>      
    </div>
  </div>
  </div>