
<div>
  <ul class="breadcrumb bg-white b-b breadcrumb-custom">
    <li><a href class="breadcrumb-font"><i class="fa fa-home"></i> 首页</a></li>
    <li><a href class="breadcrumb-font">资金记录</a></li>
    <li class="active breadcrumb-font">变现记录</li>
  </ul>
</div>
<div class="wrapper-md bg-white" ng-controller="Points2cashHistoryCtrl">
	<h4 class="m-t-none m-b text-danger">变现记录</h4>
	<div class="table-responsive">
	    <table class="table table-striped bg-white">
	      <thead>
	        <tr class="bg-jzj">
	          <th class="col-md-2 b-r">单号</th>
	          <th class="col-md-2 b-r">时间</th>
	          <th class="col-md-2 b-r">赚点数</th>
	          <th class="col-md-2 b-r">现金额</th>
	          <th class="col-md-1 b-r">手续费</th>
	          <th class="col-md-2 b-r">备注</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="p in points2cashList">
	          <td class="col-md-2 b-r">{{p.cashoutId}}</td>
	          <td class="col-md-2 b-r">{{p.createdAt | date : 'yyyy.MM.dd HH:mm:ss' : 'Z'}}</td>
	          <td class="col-md-2 b-r">{{p.points}}</td>
	          <td class="col-md-2 b-r">{{p.amount}}</td>
	          <td class="col-md-1 b-r">{{p.fee}}</td>
	          <td class="col-md-2 ">{{p.cashoutId}}</td>
	        </tr>            
	      </tbody>
	    </table>
	</div>
	<div class="pagination pull-left">
       <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="m-t-none m-b"></pagination>
    </div>
    <br/><br/>
</div>
