
<div>
  <ul class="breadcrumb bg-white b-b breadcrumb-custom">
    <li><a href class="breadcrumb-font"><i class="fa fa-home"></i> 首页</a></li>
    <li><a href class="breadcrumb-font">资金记录</a></li>
    <li class="active breadcrumb-font">充值</li>
  </ul>
</div>
<div class="wrapper-md bg-white" ng-controller="RechargeCtrl">
	<h4 class="m-t-none m-b text-jzj">充值</h4>
	<div class="line b-b"></div> 
	<div class="form-horizontal m-t">
		<tabset class="tab-container">
		  <!--充值现金-->
          <tab heading="充值现金" ng-init="activeCash = (transType==2)" active="activeCash" ng-click="transType=2">
          	<form role="form" name="rechargeCashForm" class="form-horizontal">
			<div class="m-t">
				<label>充值账号：</label>
				<div ng-if="!isBindUserBank" class="btn-group"><label>暂未添加提现账号，请先<a ui-sref="app.account.userbank" class="text-info">添加</a></label></div>
				<div ng-if="isBindUserBank" class="btn-group">
					<select class="form-control" ng-model="bankType" required>
						<option ng-repeat="b in userBankList" value="{{b.bankType}}" ng-selected="bankType == b.bankType">{{getBankName(b.bankType)}} - {{b.accountNumber}}</option>
					</select>
				</div>
			</div>
			<div class="m-t">
				<label class="control-label text-left">充值金额：</label>
				<div class="btn-group"><input type="number" class="form-control" ng-model="cash.amount" ng-pattern="/^\d{3,9}/" required/></div>
				<label class="control-label text-left"><span class="text-muted">单次最少提现100元 </span></label>
			</div>		

			<div class="m-t m-b">
				<button class="btn btn-jzj" ng-disabled="rechargeCashForm.$invalid" ng-click="rechargeCash(rechargeCashForm.$valid)">确认</button>
			</div>
			<div class="line b-b"></div> 
			<div class="m-t">
		        <h4 class="m-t-none font-bold">温馨提示：</h4>
		        <p class="text-muted">1. 充值现金可以使用 商品押金 运费押金 退款保证金  三部分。</p>
		        <p class="text-muted">2. 请注意您的银行卡充值限制，以免造成不便。<a class="text-info" href="#">查看如何提高充值限额</a></p>
				<p class="text-muted">3. 禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账号的使用。</p>
				<p class="text-muted">4. 如果充值金额没有及时到账。请联系客服。</p>
				<p class="text-muted">5. 关于商家<span class="text-danger font-bold">押金</span>提现，平台是按照“<span class="text-danger font-bold">原路返回</span>”的原则给商家返还押金。</p>
		     </div>
		     </form>
          </tab>
          <!--充值押金-->
          <tab heading="充值押金" ng-init="activeDeposit = (transType==3)" active="activeDeposit" ng-click="transType=3">
          	<form role="form" name="rechargeDepositForm" class="form-horizontal">
          	<div class="m-t">
				<label>充值账号：</label>
				<div ng-if="!isBindUserBank" class="btn-group"><label>暂未添加提现账号，请先<a ui-sref="app.account.userbank" class="text-info">添加</a></label></div>
				<div ng-if="isBindUserBank" class="btn-group">
					<select class="form-control" ng-model="bankType" required>
						<option ng-repeat="b in userBankList" value="{{b.bankType}}" ng-selected="bankType == b.bankType">{{getBankName(b.bankType)}} - {{b.accountNumber}}</option>
					</select>
				</div>
			</div>
			<div class="m-t">
				<label class="control-label text-left">充值金额：</label>
				<div class="btn-group"><input type="number" class="form-control" ng-model="deposit.amount" ng-pattern="/^\d{3,9}/" required/></div>
				<label class="control-label text-left"><span class="text-muted">单次最少提现100元 </span></label>
			</div>		
			<div class="m-t m-b">
				<button class="btn btn-jzj" ng-disabled="rechargeDepositForm.$invalid" ng-click="rechargeDeposit(rechargeDepositForm.$valid)">确认</button>
			</div>
			<div class="line b-b"></div> 
			<div class="m-t">
		        <h4 class="m-t-none font-bold">温馨提示：</h4>
		        <p class="text-muted">1. 充值押金可以使用 商品押金 运费押金 退款保证金  三部分。</p>
		        <p class="text-muted">2. 请注意您的银行卡充值限制，以免造成不便。<a class="text-info" href="#">查看如何提高充值限额</a></p>
				<p class="text-muted">3. 禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账号的使用。</p>
				<p class="text-muted">4. 如果充值金额没有及时到账。请联系客服。</p>
				<p class="text-muted">5. 关于商家<span class="text-danger font-bold">押金</span>提现，平台是按照“<span class="text-danger font-bold">原路返回</span>”的原则给商家返还押金。</p>
		     </div>
		     </form>
          </tab>
          <!--充值赚点-->
          <tab heading="充值赚点" ng-init="activePoint = (transType==4)" active="activePoint" ng-click="transType=4">
          	<form role="form" name="rechargePointForm" class="form-horizontal">
          	<div class="m-t">
				<label>充值账号：</label>
				<div ng-if="!isBindUserBank" class="btn-group"><label>暂未添加提现账号，请先<a ui-sref="app.account.userbank" class="text-info">添加</a></label></div>
				<div ng-if="isBindUserBank" class="btn-group">
					<select class="form-control" ng-model="bankType" required>
						<option ng-repeat="b in userBankList" value="{{b.bankType}}" ng-selected="bankType == b.bankType">{{getBankName(b.bankType)}} - {{b.accountNumber}}</option>
					</select>
				</div>
			</div>
			<div class="m-t">
				<label class="control-label text-left">充值点数：</label>
				<div class="btn-group"><input type="number" class="form-control" ng-model="point.points" ng-pattern="/^\d{3,9}/" required/></div>
				<label class="control-label text-left"></label>
			</div>		
			<div class="m-t m-b">
				<button class="btn btn-jzj" ng-disabled="rechargePointForm.$invalid" ng-click="rechargePoint(rechargePointForm.$valid)">确认</button>
			</div>
			<div class="line b-b"></div> 
			<div class="m-t">
		        <h4 class="m-t-none font-bold">温馨提示：</h4>
		        <p class="text-muted">1. 充值赚点可以使用 商品押金 运费押金 退款保证金  三部分。</p>
		        <p class="text-muted">2. 请注意您的银行卡充值限制，以免造成不便。<a class="text-info" href="#">查看如何提高充值限额</a></p>
				<p class="text-muted">3. 禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账号的使用。</p>
				<p class="text-muted">4. 如果充值金额没有及时到账。请联系客服。</p>
				<p class="text-muted">5. 关于商家<span class="text-danger font-bold">押金</span>提现，平台是按照“<span class="text-danger font-bold">原路返回</span>”的原则给商家返还押金。</p>
		     </div>
		     </form>
          </tab>          
        </tabset>		
	</div>	
	<br/><br/>
</div>
