
<div>
  <ul class="breadcrumb bg-white b-b breadcrumb-custom">
    <li><a href class="breadcrumb-font"><i class="fa fa-home"></i> 首页</a></li>
    <li><a href class="breadcrumb-font">资金记录</a></li>
    <li class="active breadcrumb-font">充值记录</li>
  </ul>
</div>
<div class="wrapper-md bg-white" ng-controller="RechargeHistoryCtrl">	
	<div class="row wrapper">
		<h4 class="pull-left m-t-none m-b text-danger">充值记录</h4>		
		<a ui-sref="app.financial.rechange" class="pull-right btn m-b-xs btn-sm btn-info btn-addon m-l" ng-click="downloadCSV()"><i class="fa fa-external-link"></i>充值</a>		
	</div>
	<div class="table-responsive">
	    <table class="table table-striped bg-white">
	      <thead>
	        <tr class="bg-jzj">
	          <th class="col-md-2 b-r">单号</th>
	          <th class="col-md-2 b-r">时间</th>
	          <th class="col-md-2 b-r">数额</th>
	          <th class="col-md-2 b-r">购买赚点</th>
	          <th class="col-md-2 b-r">状态</th>
	          <th class="col-md-2">备注</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="c in rechargeList">
	          <td class="col-md-2 b-r" ng-bind="c.rechargeId"></td>
	          <td class="col-md-2 b-r" ng-bind="c.createdAt | date : 'yyyy.MM.dd HH:mm:ss' : 'Z'"></td>
	          <td class="col-md-2 b-r" ng-bind="c.amount"></td>
	          <td class="col-md-2 b-r" ng-bind="c.points"></td>
	          <td class="col-md-2 b-r" ng-bind="c.status"></td>
	          <td class="col-md-2" ng-bind="c.comment"></td>
	        </tr>          
	      </tbody>
	    </table>
	 </div>	
	<div class="pagination pull-left" ng-controller="PaginationCtrl">
       <pagination ng-if="totalItems>0" boundary-links="true" items-per-page="pageSize" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged(currentPage)"></pagination>
    </div>
    <br/><br/>
</div>
