<div class="wrapper-md no-p-t" ng-controller="TaskFlowItem4Ctrl">
  <div class="row wrapper no-p-b">
    <div>
      <label class="h4 font-bold">选择增值服务</label>
      <label class="h4 pull-right">已选择：<span class="text-danger">{{platformName}} | {{shopName}} | 订单 </span></label>
    </div>
    <br/>
    <div>
      <label class="h5 font-bold">快速返款给买手</label>
      <br/>
      <label class="m-t-xs checkbox m-l-md">
        <input type="checkbox" value="true" ng-model="flowData.taskDetail.agreeFastRefunds"/>押金直接返款：选择此服务，买手完成后，平台将直接使用押金为您操作返款，商家无需耗费时间、人力处理退款，减少押款周期
      </label>
      <label class="m-t-xs m-l-md">
        每单收取刷单金额的0.6%做为退款服务费，费用： 1 单 X 619元 X 0.6% = 3.71符点
      </label>
    </div>
  </div>  
  <div class="line b-b"></div> 
  <div class="row wrapper">
    <div>
      <label class="h4 font-bold">快速完成任务</label>
    </div>
  </div> 
  <div class="row wrapper no-p-t no-p-b">
      <h5  class="font-bold">1.提升完成任务速度：<label class="font-normal text-muted">增加符点数越多，推荐任务排名越靠前，便于更快速完成任务</label></h5>
      <label class="checkbox-inline padder-lg" ><input type="checkbox" ng-checked="fastDoneOption[10]" value="10" ng-click="setFaskDone(10)"/>+ 10 符点</label>
      <label class="checkbox-inline padder-lg" ><input type="checkbox" ng-checked="fastDoneOption[20]" value="20" ng-click="setFaskDone(20)"/>+ 20 符点</label>
      <label class="checkbox-inline padder-lg" ><input type="checkbox" ng-checked="fastDoneOption[30]" value="30" ng-click="setFaskDone(30)"/>+ 30 符点</label>
  </div>  

  <div class="line b-b"></div> 

  <div class="row wrapper no-p-t no-p-b">
      <h5 class="font-bold">2.加赏任务佣金： <label class="font-normal text-muted">增加符点数越多，买手完成任务的积极性就越大，买手会优先做此类任务</label></h5>
      <label class="checkbox-inline padder-lg"><input type="checkbox" value="true" ng-model="flowData.taskDetail.agreeAddtionPoint" ng-click="countTotal()"/>每单加赏佣金</label>
      <label><input type="text" class="w-xxs input-control-xs" ng-model="flowData.taskDetail.addtionPoint" ng-change="countTotal()"/>人气符点，共计：1单 X 3人气符点 = 3人气符点<span class="text-muted">(最低为2人气符)</span></label>      
  </div>  

  <div class="line b-b"></div> 

  <div class="row wrapper no-p-t no-p-b">
      <h5 class="font-bold">3.优先审单 <span  class="text-muted">选择此服务后，聚赚界将会优先审核您发布的任务</span></h5>
      <label class="checkbox-inline padder-lg"><input type="checkbox" value="true" ng-model="flowData.taskDetail.agreePriorityReview" ng-click="countTotal()"/>订单优先审核 <span class="text-muted">（5人气符点）</span></label>
  </div>  

  <div class="line b-b"></div> 
  
  <div class="row wrapper">
    <div>
      <h4 class="font-bold">优质好评 <span  class="h5 font-normal text-muted">选择此服务后，将有助于提升评价质量并优化您商品评价印象关键词 </span><a class="h5 font-normal text-info">查看说明</a></h4>      
    </div>
  </div> 

  <div class="row wrapper-md no-p-t">      
      <label><input type="checkbox" value="true" ng-model="flowData.taskDetail.agreeQualityPraise" ng-click="countTotal()"/>&nbsp;&nbsp;1.设置你希望买手对商品好评的范围 <span class="text-muted">（1符点/单）</span></label>
      <div class="row wrapper bg-remind">
        请根据您发布任务的商品设定<span class="text-danger">几个关键字</span>作为买手的<span class="text-danger">评价范围</span>独自发挥撰写评价，例如<span class="text-danger"> “手感面料很舒服，款式也很漂亮，包装很讲究，物流很快，性价比高”</span> 等。注意：请不要填写完整的评价内容，避免所有买手评价商品的内容一模一样。
      </div>
      <div class="row m-t form-horizontal" ng-repeat="praise in praiseKeyword">
        <label class="col-md-1 control-label text-left">关键字{{$index+1}}：</label>
        <div class="col-md-4">
          <input class="form-control" type="text" ng-model="flowData.taskDetail.praiseKeywords[$index]"/>
        </div>
      </div>      
      <div class="row m-t" ng-if="isBindPraiseKeyword">
        <div class="col-md-6">
          <a class="text-info" ng-click="addPraiseKeyord()">+ 继续添加关键字 <span class="text-muted">(最多可添加10条)</span></a>
        </div>
      </div>
  </div>

  <div class="line b-b"></div> 

  <div class="row wrapper-md no-p-t">
    <div class="wrapper text-center">
      <button class="btn btn-danger m-r" ng-click="prevstep()"><i class="glyphicon glyphicon-chevron-left"></i><span class="m-r">上一步</span></button>
      <button class="btn btn-danger m-l" ng-click="nextstep()"><span class="m-r">下一步</span><i class="glyphicon glyphicon-chevron-right"></i></button><span class="text-muted">(支付)</span>
    </div>
  </div>
  
  <div class="row wrapper no-p-t">
    <h4 class="m-t-none font-bold">费用合计</h4>
    <div class="table-responsive"> 
        <table class="table table-striped b">
          <thead>
            <tr>
              <th class="col-md-1">分类</th>
              <th class="col-md-4">费用明细</th>
              <th class="col-md-2">小计</th>
              <th class="col-md-2">套餐</th>
              <th class="col-md-1">优惠折扣</th>
              <th class="col-md-2">合计</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>押金</td>
              <td>
                <h5>商品1：{{flowData.productId.productPrice}}元 X {{flowData.totalTasks}}</h5>
                <h5>退款保障金： 每单30.95元</h5>
              </td>
              <td>{{flowData.productId.productPrice * flowData.totalTasks}}元</td>
              <td>新手1单套餐1单</td>
              <td>--</td>
              <td>{{flowData.productId.productPrice}} X {{flowData.totalTasks}} = {{flowData.productId.productPrice * flowData.totalTasks}}元</td>
            </tr> 
            <tr>
              <td>
                <h5>人气符</h5>
                <a class="text-info">收费说明</a>
              </td>
              <td>
                <h5>套餐服务费： {{suiltPoint}}符点</h5>
              </td>
              <td>{{suiltPoint}}符点</td>
              <td>新手1单套餐1单</td>
              <td>--</td>
              <td>{{suiltPoint}} X 1 = {{suiltPoint * 1}}符点</td>
            </tr> 
            <tr>
              <td>增值服务</td>
              <td>
                <h5>押金直接返款：{{fastRefundPoint}}符点</h5>
                <h5>提升完成任务速度：{{fastDonePoint}}符点</h5>
                <h5>优先审核：{{priorityReviewPoint}}符点</h5>
                <h5>加赏任务佣金：{{addtionPoint}}符点</h5>
                <h5>指定好评：{{qualityPraisePoint}}符点</h5>
              </td>
              <td>{{fastRefundPoint + fastDonePoint + addtionPoint + priorityReviewPoint + qualityPraisePoint}}符点</td>
              <td>新手1单套餐1单</td>
              <td>--</td>
              <td>{{fastRefundPoint + fastDonePoint + addtionPoint + priorityReviewPoint + qualityPraisePoint}}符点</td>
            </tr>  
          </tbody>
        </table>
      </div>
  </div>  

  <div class="row wrapper-md no-p-t">
    <h4 class="text-right">费用合计  押金：<label class="text-danger">{{flowData.totalTasks * flowData.productId.productPrice}}</label>元  人气符：<label class="text-danger">{{((suiltPoint * 1) + fastRefundPoint + fastDonePoint + addtionPoint + priorityReviewPoint + qualityPraisePoint) | number:2}}</label>点</h4>
  </div>

</div>