<div class="wrapper-md no-p-t" ng-controller="TaskFlowItem2Ctrl">  
  <div class="row wrapper-md no-p-t">
    <h4 class="text-danger">1.填写商品信息</h4>
    <div class="wrapper-xs form-horizontal">
      <div class="row">
        <label class="col-md-2 control-label text-left"><span class="text-danger">*</span>商品链接</label>
        <div class="col-md-4">
          <input type="text" class="form-control" ng-model="product.productLink"/>
        </div>
      </div>
      <div class="row m-t">
        <label class="col-md-2 control-label text-left"><span class="text-danger">*</span>商品名称</label>
        <div class="col-md-4">
          <input type="text" class="form-control" ng-model="product.productName"/>
        </div>
      </div>      
      <div class="row m-t">
        <label class="col-md-2 control-label text-left"><span class="text-danger">&nbsp;</span>规格</label>
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder="如：颜色" ng-model="product.productDesc.color"/>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder="如：尺寸" ng-model="product.productDesc.size"/>
        </div>
      </div>
      <div class="row m-t">
        <label class="col-md-2 control-label text-left"><span class="text-danger">*</span>单品售价</label>
        <div class="col-md-1">
          <input type="text" class="form-control" ng-model="product.productPrice" ng-change="countProductTotalPrice()"/>
        </div>
        <label class="col-md-1 text-left control-label" >元</label>
        <label class="col-md-1 text-left control-label"><span class="text-danger">*</span>每单拍</label>
        <div class="col-md-1">
          <input type="text" class="form-control" ng-model="flowData.taskDetail.productCount" ng-change="countProductTotalPrice()"/>
        </div>
        <label class="col-md-1 text-left control-label">件</label>
        <label class="col-md-2 text-left control-label">下单总金额<span class="m-l m-r text-danger" ng-bind="totalPrice"></span>元</label>
      </div>
      <div class="row m-t">
        <label class="col-md-2 control-label text-left"><span class="text-danger">&nbsp;</span>搜索页面展示价格</label>
        <div class="col-md-2">
          <input type="text" class="form-control" ng-model="flowData.productPrice"/>
        </div>
        <label class="col-md-4 text-left control-label ">如该商品有满减、促销、多规格等情况，请填写此金额</label>
      </div>
      <div class="row m-t">
        <label class="col-md-4"><span class="text-danger">&nbsp;</span>请上传 <span class="text-danger">“淘宝商品主图”</span> ，以便于买手快速找到任务商品</label>
        <div class="col-md-2">
          <input type="file"  />
        </div>
        <div class="col-md-2">
          <a class="text-danger control-label">什么是合格的商品主图？</a>
        </div>
      </div>
    </div>    
  </div>
  <div class="line b-b"></div>   
  <div class="row wrapper-md no-p-t">
    <h4 class="text-danger">2.设置商品收取运费的方式</h4>
    <div class="wrapper-xs">
      <div class="row radio">
        <label class="m-l"><input class="" type="radio" name="fare" value="true" ng-model="flowData.taskDetail.freePostage"/>商品本身包邮</label><label class="text-muted">买手按照商品实际金额下单</label>
      </div>
      <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="row radio">
        <label class="m-l"><input type="radio" name="fare" value="false" ng-model="flowData.taskDetail.freePostage"/>商品不包邮</label><label class="text-muted">无需买手联系客服，商家每单额外支出10元作为运费押金，任务完成后运费押金将全部退还给商家</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="wrapper text-center"><button class="btn btn-danger m-r" ng-click="prevstep()"><i class="glyphicon glyphicon-chevron-left"></i><span class="m-r">上一步</span></button><button class="btn btn-danger m-l" ng-click="nextstep()"><span class="m-r">下一步</span><i class="glyphicon glyphicon-chevron-right"></i></button></div>
  </div>
</div>