<div class="wrapper" ng-controller="TaskFlowItem1Ctrl">
  <div class="row">
    <div class="col-md-4 b-r">      
      <div class="wrapper h4">第一步：选择平台</div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="p in platforms"><label ng-click="changePlatform(p.id)"><input type="radio" name="platform" value="{{p.id}}" ng-model="platformId"/><span class="m-l">{{p.name}}</span></label><b class="badge bg-info pull-right">{{p.count}}</b></li>
      </ul>      
    </div>
    <div class="col-md-4 b-lignt">
      <div class="wrapper h4">第二步：选择店铺</div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="s in shops"><label ng-click="changeShop(s.shopId,s.wangwang)"><input type="radio" name="shop" value="{{s.shopId}}" ng-model="selectedShop"/><span class="m-l">{{s.wangwang}}</span></label></li>
      </ul>   
      <div class="h5 text-muted text-right">(还可以绑定2个店铺) + 绑定更多店铺</div>
    </div>
    <div class="col-md-4  b-l b-lignt">      
      <div class="wrapper h4">第三步：选择任务类型<small class="text-muted"> 点击查看任务收费规则</small></div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="t in tasktypes"><label ng-click="changeTaskType(t.id)"><input type="radio" name="tasktype" value="{{t.id}}"  ng-model="selectedTaksType"/><span class="m-l">{{t.name}}</span></label><small class="text-muted pull-right">{{t.point}}</small></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="wrapper text-center"><button class="btn btn-danger" ng-click="nextstep()"><span class="m-r">下一步</span><i class="glyphicon glyphicon-chevron-right"></i></button><small class="text-muted">（填写商品信息）</small></div>
  </div>
  <div class="line b-b"></div>   
  <div class="row">
    <div class="wrapper h5">你已选择店铺：<span class="font-bold text-danger" ng-bind="selectedShopName"></span> 最近发布的任务单有<span class="font-bold text-danger" ng-bind="shopOrderCount"></span>单</div>
  </div>
</div>