
<div ng-controller="TaskListCtrl">
<div>
  <ul class="breadcrumb bg-white b-b breadcrumb-custom">
    <li><a href class="breadcrumb-font"><i class="fa fa-home"></i> 首页</a></li>
    <li><a href class="breadcrumb-font">任务列表</a></li>
    <li class="active breadcrumb-font">{{statusName}}任务</li>
  </ul>
</div>
<div class="wrapper-md bg-white">
    <!--过滤条件-->
    <div class="row" ng-controller="TaskFilterCtrl" ng-init="initTaskByStatus()">
      <div class="col-md-2">
        <label class="font-bold">平台：</label>
        <div class="btn-group">
          <select class="form-control" ng-model="condition.platformId">
            <option value="-1">全部</option>
            <option ng-repeat="p in platforms" value="{{p.id}}">{{p.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <label class="font-bold">店铺：</label>      
        <div class="btn-group">
          <select class="form-control" ng-model="condition.shopId">
            <option value="-1">全部</option>
            <option ng-repeat="s in shops" value="{{s.shopId}}">{{s.wangwang}}</option>
          </select>
        </div>
      </div> 
      <div class="col-md-3">
        <label class="font-bold">任务类型：</label>
        <div class="btn-group">
          <select class="form-control" ng-model="condition.taskTypeId">
            <option value="-1">全部</option>
            <option ng-repeat="t in taskTypes" value="{{t.id}}">{{t.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2 hide">
        <label class="font-bold">终端：</label>      
        <div class="btn-group">
          <select class="form-control" ng-model="condition.terminalId">
            <option value="-1">全部</option>
            <option ng-repeat="t in terminals" value="{{t.id}}">{{t.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger" ng-click="query()">查询</button>
      </div>
    </div>
    <!--任务列表-->
    <div class="row wrapper-md">
      <div class="task-list">
        <!--task item-->
        <div class="panel panel-danger" ng-repeat="t in taskList">
          <div class="panel-heading">                    
            <span><span class="label bg-danger">T</span> {{getShopName(t.taskDetail)}}<span class="m-l">任务编号：</span><span>{{t.taskId}}</span> [<a ui-sref="app.task({id:{{t.taskId}}})" class="text-info">详情</a>]</span>
            <span class="pull-right">
              <span>任务单数：</span><span>{{t.totalTasks}}单</span>
              <span class="m-l">任务押金：</span><span>{{getTaskTotalCach(t.taskDetail)}}元</span>
              <span class="m-l">人气符：</span><span>{{getTaskTotalPoint(t.taskDetail)}}点</span>
            </span>
          </div>
          <div class="panel-body">
            <article class="media" >
              <span class="pull-left m-r"><i class="fa fa-file-o fa-5x"></i></span>
              <div class="pull-right l-h-lg">
                <a ng-if="statusId==2" ui-sref="app.task({id:{{t.taskId}}})" class="btn btn-info">继续发布</a>
                <a ng-if="statusId==1" href class="btn btn-info">一键发布</a>
              </div>
              <div class="media-body l-h-lg">   
                <a href class="h4">{{t.productId.productName}}</a>
              </div>
            </article>
          </div>
        </div>
        <!--task item-->
      </div>
      <div class="pagination pull-left" ng-controller="PaginationCtrl">
        <pagination ng-if="totalItems>0" boundary-links="true" items-per-page="pageSize" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged(currentPage)"></pagination>
      </div>
    </div>
  </div>
  </div>