<div class="wrapper-md no-p-t" ng-controller="TaskFlowItem5Ctrl"> 
  <div class="row wrapper">
    <div>
      <label class="h4 font-bold">支付</label>
    </div>
  </div> 
  <div class="wrapper bg-remind">
    <label>本次任务发布<span class="text-danger">1</span>单</label>
    <label class="pull-right">需押金： <span class="text-danger">0.00</span>元  人气符：<span class="text-danger">0.00</span>点</label>
  </div>  

  <div class="row wrapper no-p-b">
    <h4 class="font-bold">选择支付方式<label class="h5 m-l font-normal text-muted">当前押金、符点足够支付，若需要使用网银支付方式，请先取消选择使用押金、符点支付</label></h4>
    <div class="wrapper-sm bg-remind">
      <label class="checkbox-inline"><input type="checkbox" />使用人气符点支付（可用人气符：<span class="text-danger">0</span>点）1点 = 1元</label> 
    </div>       
    <div class="wrapper-sm bg-remind m-t">
      <label class="checkbox-inline"><input type="checkbox" />使用押金支付（可用押金：<span class="text-danger">0.00</span>元）</label>     
    </div>
    <div class="wrapper-sm bg-remind m-t">      
      <label class="radio-inline"><input type="radio" name="pay"/>使用网银支付</label> 
    </div>          
  </div>

  <div class="line b-b"></div> 

  <div class="row wrapper-md no-p-t">
    <div class="wrapper text-center">
      <button class="btn btn-danger m-r" ng-click="prevstep()"><i class="glyphicon glyphicon-chevron-left"></i><span class="m-r">上一步</span></button>
      <button class="btn btn-danger m-l" ng-click="nextstep()"><span class="m-r">付款并发布任务</span></button>
    </div>
  </div>

</div>