<div class="wrapper-md no-p-t" ng-controller="TaskFlowItem3Ctrl">
  <div class="row wrapper no-p-b">
    <span class="h4 font-bold">选择刷单数量</span>
    <span class="h4 pull-right">已选择：<label class="text-danger">{{platformName}} | {{shopName}} | 订单</label></span>
  </div>  
  <div class="line b-b"></div> 
  <div class="row wrapper no-p-t">
      <label>1.请选择刷单数量</label><input type="text" class="w-xxs input-control-xs" ng-model="flowData.taskDetail.orderQuantity" ng-change="countPoint()">
  </div>  
  <div class="row wrapper no-p-t">
      <h5 ><span class="text-danger">注意：</span>请控制好店铺的转化率！不得超过3%！如果因转化率过高，导致商品降权，聚赚界概不负责！</h5>
  </div> 
  <div class="line b-b"></div> 

  <div class="row wrapper-md no-p-t hide">
      <h5 class="font-bold">2.请设置订单分布 <span  class="font-normal text-muted">( 注：电脑端、手机端/Pad端订单总数需要为<span class="text-danger">1</span>单 )</span></h5>
      <label class="">电脑端<input type="text" class="w-xxs input-control-xs" ng-model="flowData.taskDetail.pcOrderQuantity" ng-change="countPoint()"/>单</label>
      <label class="m-l" >手机 | Pad客户端<input type="text" class="w-xxs input-control-xs" ng-model="flowData.taskDetail.padOrderQuantity" ng-change="countPoint()"/>单 <span>( 手机订单 每单加<span class="text-danger">0.5</span>符点)</span></label>
  </div>  

  <div class="line b-b hide"></div> 

  <div class="row wrapper-md no-p-t">
      <h5 class="font-bold">2.请设置成交关键词分布 <span  class="font-normal text-muted">( 注：关键词订单总数需要为<span class="text-danger">1</span>单 )</span></h5>
      <div class="m-t" ng-repeat="keyword in productKeywords">
        <label>搜索关键词{{$index+1}}：</label><input type="text" class="w-sm input-control-xs" ng-model="flowData.taskDetail.searchProductKeywords[$index].key"/><input type="text" class="w-xxs input-control-xs" ng-model="flowData.taskDetail.searchProductKeywords[$index].value"/><label>单</label>
      </div>
  </div>  

  <div class="line b-b"></div> 

  <div class="row wrapper-md no-p-t">
      <h5 class="font-bold">3.订单留言 <span  class="font-normal text-muted">( 注：出于安全性考虑，强烈不建议制定订单留言。如必须留言，请尽可能填写多个不同的留言内容</span></h5>
      <div class="m-t" ng-repeat="m in orderMessages">
         <label>留言内容{{$index+1}}：</label><input type="text" class="w-md input-control-xs" placeholder="例如：快点给我发货哦！" ng-model="flowData.taskDetail.orderMessages[$index]"/>
      </div>
      <div class="row m-t">
        <div class="col-md-6">
          <a class="text-info" ng-click="addOrderMessage()">+ 继续添加留言内容</a>
        </div>
      </div>
  </div>  
  
  <div class="line b-b"></div> 

  <div class="row wrapper-md no-p-t">
      <h5 class="font-bold">费用小计</h5>
      <div class="row wrapper bg-remind">
         <label class="">刷单费用：<sapn class="text-danger">16.6</sapn>人气符点/单 X <sapn class="text-danger">{{orderQuantity}}</sapn>单</label>         
         <label class="pull-right"><sapn class="text-danger">{{totalPoint | number:2}}</sapn>人气符点</label>
      </div>      
  </div>

  <div class="row wrapper-md no-p-t">
    <div class="wrapper text-center"><button class="btn btn-danger m-r" ng-click="prevstep()"><i class="glyphicon glyphicon-chevron-left"></i><span class="m-r">上一步</span></button><button class="btn btn-danger m-l" ng-click="nextstep()"><span class="m-r">下一步</span><i class="glyphicon glyphicon-chevron-right"></i></button></div>
  </div>
  
  <div class="line b-b"></div> 
  
  <div class="row wrapper no-p-t">
    <h4 class="m-t-none font-bold">温馨提示：</h4>
    <p>1. 选择电脑端后，买手会访问淘宝网刷单，将会优化淘宝自然搜索排序；</p>
    <p>2. 选择手机或Pad客户端后，买手会用手机淘宝或Pad APP下单，将会优化商品在手机淘宝的搜索排序。</p>  
  </div>  

</div>